.services-container {
  width: 100%;
  margin-top: 11rem;
}

.services-header {
  color: var(--color-blue);
  text-align: center;
  /* font-feature-settings: "liga" off; */
  /* font-family: PP Pangram Sans Rounded; */
  font-size: 39.06px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 122.888% */
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 2rem;
}

@media (max-width: 1024px) {
  .services-header {
    font-weight: 600;
    line-height: 45px;
    font-size: 35px;
  }
  .services {
    margin: 0 4rem;
  }
}

@media (max-width: 768px) {
  .services-header {
    font-weight: 500;
    line-height: 28px;
    font-size: 25px;
  }
  .services {
    justify-content: center;
  }
}
