.header-conatiner {
  width: 1440px;
  height: 75px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  color: var(--color-blue);
  padding: 0 4rem;
  text-transform: uppercase;
}

.header-conatiner .left {
  display: flex;
  gap: 1rem;
}

.right > ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

ul > span {
  width: 1px;
  height: 23px;
  background: #abadb6;
}
